/* Custom Propertys */
:root {
  --primary: #1073ba;
  --secondary: #00da55;
  --gray: #3b3b3b;
  --white: #ffffff;
  --black: #1f1e1e;
  --grayLight: #e1e1e1;

  --separation: 5rem;

  --fontMain: "Roboto", sans-serif;
  --fontSecondary: "Lato", sans-serif;
}
/* Reset Box-Sizing y REM */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fontMain);
  font-size: 1.6rem;
  line-height: 1.5;
}
/* Globales */
.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: var(--fontSecondary);
  margin: calc(var(--separation) / 2) 0;
}
h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
/* Utilidades */
.text-center {
  text-align: center;
}
/* Degradados */
.green-gradient {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--primary) 0%,
    var(--secondary) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
/* Header */
.header {
  background-color: var(--black);
  padding: calc(var(--separation) * 3) 0;
  color: var(--white);
}
@media (min-width: 768px) {
  .content-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.text-header {
  text-align: center;
}
@media (min-width: 769px) {
  .text-header {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.text-header p {
  margin: 0;
}

.tagLine-product {
  font-size: 3rem;
  font-weight: 900;
}
.name-product {
  font-size: 6rem;
  margin: 0;
}
@media (min-width: 768px) {
  .name-product {
    font-size: 10rem;
    line-height: 1;
  }
}
.price-product span {
  font-size: 6rem;
  font-weight: 900;
}
/* Iconos */
.icons {
  padding: var(--separation) 0;
}
@media (min-width: 768px) {
  .icons {
    display: flex;
    gap: 2rem;
  }
}
.icon {
  text-align: center;
  margin-bottom: calc(var(--separation) / 2);
}
.icon:last-of-type {
  margin: 0;
}
@media (min-width: 768px) {
  .icon {
    margin: 0;
  }
}
.icon img {
  width: 5rem;
  margin: 0 auto;
}
.icon h3 {
  color: var(--primary);
  text-transform: uppercase;
  margin-top: calc(var(--separation) / 2);
  font-weight: 900;
}
/* About techPRO */
.about-tech {
  background-image: linear-gradient(
      to bottom,
      transparent 50%,
      var(--primary) 0%
    ),
    url(../img/imagen-mujer.jpg);
  background-position: right;
  background-repeat: repeat, no-repeat;
  background-size: 100%, 110rem;
}
.about-tech-grid {
  display: grid;
  grid-template-rows: repeat(2, 40rem);
  row-gap: var(--separation);
}
.text-about-tech {
  grid-row: 2 / 3;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text-about-tech p {
  font-size: 2rem;
  line-height: 2;
}
.text-about-tech h2 {
  font-size: 4rem;
}
